<%- include header %>
<form method="post">
    barcode：
    <input type="text" name="barcode" /><br />
    name：
    <input type="text" name="name" /><br />
    shortname：
    <input type="text" name="shortname" /><br />
    brand：
    <input type="text" name="brand" /><br />
    description：
    <input type="text" name="description" /><br />
    model：
    <input type="text" name="model" /><br />
    spec：
    <input type="text" name="spec" /><br />
    weight：
    <input type="text" name="weight" /><br />
    weightUnit：
    <input type="text" name="weightUnit" /><br />
    volume：
    <input type="text" name="volume" /><br />
    volumeUnit：
    <input type="text" name="volumeUnit" /><br />
    typeId：
    <input type="text" name="typeId" /><br />
    mainImgUrl：
    <input type="text" name="mainImgUrl" /><br />
    displayImgUuid：
    <input type="text" name="displayImgUuid" /><br />
    <input type="submit" value="submit" />
</form>
<%- include footer %>
